.app-html {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .app-html {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.app-html,
.app-body {
  max-width: 100vw;
  overflow-x: hidden;
}

.app-body {
  color: var(--foreground);
  background: var(--background);
}

.app-body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .app-html {
    color-scheme: dark;
  }

  .img-light {
    display: none;
  }
  .img-dark {
    display: unset;
  }
}
